.app_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(30deg, rgb(203, 72, 252), rgb(39, 168, 140));
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
}